alabaster==0.7.12
astroid==2.5
attrs==20.3.0
Babel==2.9.0
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
decorator==4.4.2
docutils==0.16
idna==2.10
imagesize==1.2.0
importlab==0.6.1
isort==5.7.0
Jinja2==2.11.3
kiwisolver==1.3.1
lazy-object-proxy==1.5.2
m2r2==0.2.7
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mistune==0.8.4
networkx==2.5
ninja==1.10.0.post2
numpy==1.20.1
packaging==20.9
Pillow==8.1.0
pockets==0.9.1
Pygments==2.8.0
pylint==2.7.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytype==2021.2.23
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.5.1
sphinx-autoapi==1.7.0
sphinx-rtd-theme==0.5.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
toml==0.10.2
typed-ast==1.4.2
Unidecode==1.2.0
urllib3==1.26.3
wrapt==1.12.1
